.button {
  appearance: none;
  background: none;
  outline: none;
  border: 2px solid transparent;
  color: #61dafb;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: #61dafb10;
  border-radius: 0.25em;
  transition: all 0.15s;
}

.button:hover,
.button:focus {
  border: 2px solid #61dafb40;
}

.button:active {
  background-color: #61dafb20;
}

.default-table {
  width: 100%;
  border-collapse: collapse;
}

select {
  background-color: transparent;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
  color: inherit;
  outline: none;
  border: 2px solid #61dafb;
  border-radius: 0.25em;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}

select::-ms-expand {
  display: none;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #61dafb;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  grid-area: select;
  justify-self: end;
}
